<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    [opened]="sidenavOpen()"
    mode="side"
  >
    <div class="sidenav-header">
      <span class="sidenav-logo">💉</span>
      <span class="sidenav-title">GlicoTrack</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: item.path === '/dashboard' }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ userName }}
      </button>
      <mat-menu #userMenu>
        <a mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon> Configurações
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Sair
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
